<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <meta charset="UTF-8">
    <title>Bill payments</title>
</head>
<body>
<header layout:fragment="header" class="masthead" style="background-image: url('img/background-5.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Bill payments</h1>
                    <span class="subheading">E-Wallet by TAT High Tech</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div layout:fragment="content" >
    <div class="container">
        <div class="alert alert-success" role="alert">

        </div>
        <div class="row">
            <div class="col-md-5 mx-auto bg-light">
                <h5 class="card-header text-white bg-info text-left py-4">
                    <strong>Bill payments</strong>
                </h5>
                <form id="wallets" class="bg-white p-4 text-info">
                    <div class="form-group row" th:each="bill: ${bills}">
                        <div class="col-sm-7 ml-2">
                            <a data-th-id="${bill.id}" class="bill-name mt-1 text-left" th:text="${bill.name}" href="#"/>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-md-7 mx-auto bg-light">
                <h5 class="card-header text-white bg-info text-left py-4">
                    <strong>Payment</strong>
                </h5>
                <form id="create-payment" class="bg-white p-4 text-info"
                      th:method="post" th:action="@{/payments}">
                    <h3 class="text-center" id="payment-name-header">Water Payment</h3>
                    <input type="hidden" name="bill-id" id="bill-id-data" value="1">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" >
                            Consumer No
                        </label>
                        <div class="col-sm-7 ml-2">
                            <input type="text" id="consumer-no" name="consumer-no" class="form-control mt-1 text-left">
                            <small id="consumer-no-error" class="text-danger error-empty-input"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">
                            Bill No
                        </label>
                        <div class="col-sm-7 ml-2">
                            <input type="text" id="bill-no" name="bill-no" class="form-control mt-1 text-left">
                            <small id="bill-no-error" class="text-danger error-empty-input"></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">
                            Select payment method
                        </label>
                        <div class="col-sm-4 ml-2">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="wallet-payment" value="1" checked>
                                <label class="form-check-label" for="wallet-payment">
                                    By wallet
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="card-payment" value="2">
                                <label class="form-check-label" for="card-payment">
                                    By card
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" id="wallet-select-option">
                        <label class="col-sm-4 col-form-label">
                            Select Wallet
                        </label>
                        <div class="col-sm-4 ml-2">
                            <select name="wallet-id" id="list-wallets" class="form-control">
                                <option th:value="${wallet.id}" th:text="${wallet.name}" th:each="wallet: ${wallets}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" id="card-select-option" style="display: none;">
                        <label class="col-sm-4 col-form-label">
                            Select Card
                        </label>
                        <div class="col-sm-4 ml-2">
                            <select name="card-id" id="list-cards" class="form-control">
                                <option th:each="card: ${cards}" th:value="${card.id}"
                                        th:text="${card.cardNumber} + ' - ' +${card.cardType.name}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">
                            Init Amount
                        </label>
                        <div class="col-sm-4 ml-2">
                            <input id="payment-amount" name="amount" type="number" class="form-control mt-1 text-left">
                            <small id="payment-amount-error" class="text-danger error-empty-input"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">
                        </label>
                        <div class="col-sm-4 ml-2">
                            <input id="payment-submit" type="submit" class="btn btn-info form-control mt-1 text-center" value="Payment">
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>