<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <meta charset="UTF-8">
    <title>Bill payments</title>
</head>
<body>
<header layout:fragment="header" class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Bill payments</h1>
                    <span class="subheading">E-Wallet by TAT High Tech</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div layout:fragment="content" >
    <div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto bg-light">
                <h5 class="card-header text-white bg-info text-left py-4">
                    <strong>Bill payments</strong>
                </h5>
                <form id="wallets" class="bg-white p-4 text-info">
                    <div class="form-group row">
                        <div class="col-sm-7 ml-2">
                            <p class="mt-1 text-left">
                                Electricity
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-7 ml-2">
                            <p class="mt-1 text-left">
                                Mobi phone
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-7 ml-2">
                            <p class="mt-1 text-left">
                                Water
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-7 ml-2">
                            <p class="mt-1 text-left">
                                Caple
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-7 mx-auto bg-light">
                <h5 class="card-header text-white bg-info text-left py-4">
                    <strong>Payment</strong>
                </h5>
                <form id="create-wallet" class="bg-white p-4 text-info">
                    <h3 class="text-center">Electricity Payment</h3>
                    <div class="form-group row">
                        <label for="consumer-no" class="col-sm-4 col-form-label" >
                            Consumer No
                        </label>
                        <div class="col-sm-7 ml-2">
                            <input name="consumer-no" id="consumer-no" type="text" class="form-control mt-1 text-right">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="bill-no" class="col-sm-4 col-form-label">
                            Bill No
                        </label>
                        <div class="col-sm-7 ml-2">
                            <input type="text" id="bill-no" name="bill-no" class="form-control mt-1 text-right">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">
                            Select Wallet
                        </label>
                        <div class="col-sm-4 ml-2">
                            <select name="wallets" id="list-wallets" class="form-control">
                                <option value="1">Wallet 1</option>
                                <option value="2">Wallet 2</option>
                                <option value="3">Wallet 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">
                            Init Amount
                        </label>
                        <div class="col-sm-4 ml-2">
                            <input type="text" class="form-control mt-1 text-right">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">
                        </label>
                        <div class="col-sm-4 ml-2">
                            <input type="submit" class="btn btn-primary form-control mt-1 text-center" value="Payment">
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>