<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header layout:fragment="header" class="masthead" style="background-image: url('img/background-2.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Top Up</h1>
                        <span class="subheading">E-Wallet by TAT High Tech</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div layout:fragment="content" >
        <div class="container">
            <div class="col-sm-12 mx-auto bg-light">
                <h5 class="card-header text-white bg-info text-left py-4">
                    <strong>Top Up</strong>
                </h5>
                <form id="account" class="bg-white p-4 text-info">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" >
                            Credit Card No
                        </label>
                        <div class="col-sm-5 ml-2">
                            <input type="text" class="form-control mt-1 text-right">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">
                            Expired Date
                        </label>
                        <div class="col-sm-3 ml-2">
                            <div class="row">
                                <div class="col-sm-9">
                                    <input type="date" class="form-control mt-1 text-right">
                                </div>
                                <div class="col-sm-3" style="display: flex;align-items: center;">
                                    <i class="far fa-calendar-alt"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label" >
                            CVV
                        </label>
                        <div class="col-sm-5 ml-2">
                            <input type="text" class="form-control mt-1 text-right">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">
                            Wallet
                        </label>
                        <div class="col-sm-2 ml-2">
                            <select name="wallets" id="list-wallets" class="form-control">
                                <option value="1">Wallet 1</option>
                                <option value="2">Wallet 2</option>
                                <option value="3">Wallet 3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label">

                        </label>
                        <div class="col-sm-4 ml-2">
                            <input type="submit" class="btn btn-info form-control mt-1 text-center" value="Top Up">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>