<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header layout:fragment="header" class="masthead" style="background-image: url('img/background-3.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Transfer</h1>
                    <span class="subheading">E-Wallet by TAT High Tech</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div layout:fragment="content" >
    <div class="container">
        <div class="col-md-8 mx-auto bg-light">
            <h5 class="card-header text-white bg-info text-left py-4">
                <strong>Transfer</strong>
            </h5>
            <form id="account" class="bg-white p-4 text-info" th:method="post" th:action="@{/transfer}">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">
                        From Wallet
                    </label>
                    <div class="col-sm-4 ml-2">
                        <select name="from-wallet" id="list-wallets-from" class="form-control">
                            <option th:value="${wallet.id}" th:text="${wallet.name}" th:each="wallet: ${wallets}"></option>
                        </select>
                        <small class="text-danger error-id-wallet"></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label" >
                        Amount
                    </label>
                    <div class="col-sm-4 ml-2 transfer-input-wrapper">
                        <input id="amount-transfer-input" type="number" class="form-control mt-1 text-left" name="amount" required>
                        <small id="error-amount-transfer-input" class="text-danger"></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">
                        To Wallet
                    </label>
                    <div class="col-sm-4 ml-2">
                        <select name="to-wallet" id="list-wallets-to" class="form-control">
                            <option th:value="${wallet.id}" th:text="${wallet.name}" th:each="wallet: ${wallets}"></option>
                        </select>
                        <small class="text-danger error-id-wallet"></small>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">

                    </label>
                    <div class="col-sm-3 ml-2">
                        <input id="transfer-submit" type="submit" class="btn btn-info form-control mt-1 text-center" value="Transfer">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>